In [4]:
import pandas as pd

In [5]:
#datos descrgados de IDEAM (desde 01/01/2022 hasta el 01/01/2024) del caudal maximo diario de las de puente santander y el guayabo
# acontinuacion solicitamos la visualizacion de nuestros datos Csv descargados

df = pd.read_csv('descargaDhime 2.csv')
df

,CodigoEstacion,NombreEstacion,Variable,Parametro,Fecha,Unidad,Valor,NivelAprobacion
0,2111700151,EL GUAYABO 2 [2111700151],CAUDAL,Caudal máximo diario,2022-01-01 00:00,m^3/s,3.7,Preliminar
1,2111700151,EL GUAYABO 2 [2111700151],CAUDAL,Caudal máximo diario,2022-01-02 00:00,m^3/s,3.7,Preliminar
2,2111700151,EL GUAYABO 2 [2111700151],CAUDAL,Caudal máximo diario,2022-01-03 00:00,m^3/s,3.7,Preliminar
3,2111700151,EL GUAYABO 2 [2111700151],CAUDAL,Caudal máximo diario,2022-01-04 00:00,m^3/s,3.7,Preliminar
4,2111700151,EL GUAYABO 2 [2111700151],CAUDAL,Caudal máximo diario,2022-01-05 00:00,m^3/s,3.7,Preliminar
...,...,...,...,...,...,...,...,...
1365,21097070,PUENTE SANTANDER AUT [21097070],CAUDAL,Caudal máximo diario,2023-12-28 00:00,m^3/s,941.6,Definitivo
1366,21097070,PUENTE SANTANDER AUT [21097070],CAUDAL,Caudal máximo diario,2023-12-29 00:00,m^3/s,997.4,Definitivo
1367,21097070,PUENTE SANTANDER AUT [21097070],CAUDAL,Caudal máximo diario,2023-12-30 00:00,m^3/s,991.8,Definitivo
1368,21097070,PUENTE SANTANDER AUT [21097070],CAUDAL,Caudal máximo diario,2023-12-31 00:00,m^3/s,1003.0,Preliminar
1369,21097070,PUENTE SANTANDER AUT [21097070],CAUDAL,Caudal máximo diario,2024-01-01 00:00,m^3/s,1032.0,Preliminar

In [9]:
df.columns

Index(['CodigoEstacion', 'NombreEstacion', 'Variable', 'Parametro', 'Fecha',
       'Unidad', 'Valor', 'NivelAprobacion'],
      dtype='object')

In [10]:
df.dtypes

CodigoEstacion       int64
NombreEstacion      object
Variable            object
Parametro           object
Fecha               object
Unidad              object
Valor              float64
NivelAprobacion     object
dtype: object

In [36]:
#cambiarel tipo de dato de  la columna "fecha"(obejet) a (datetime)
df["Fecha"] = pd.to_datetime(df["Fecha"])
df

,CodigoEstacion,NombreEstacion,Variable,Parametro,Fecha,Unidad,Valor,NivelAprobacion
0,2111700151,EL GUAYABO 2,CAUDAL,Caudal máximo diario,2022-01-01,m^3/s,3.7,Preliminar
1,2111700151,EL GUAYABO 2,CAUDAL,Caudal máximo diario,2022-01-02,m^3/s,3.7,Preliminar
2,2111700151,EL GUAYABO 2,CAUDAL,Caudal máximo diario,2022-01-03,m^3/s,3.7,Preliminar
3,2111700151,EL GUAYABO 2,CAUDAL,Caudal máximo diario,2022-01-04,m^3/s,3.7,Preliminar
4,2111700151,EL GUAYABO 2,CAUDAL,Caudal máximo diario,2022-01-05,m^3/s,3.7,Preliminar
...,...,...,...,...,...,...,...,...
1365,21097070,PUENTE SANTANDER AUT,CAUDAL,Caudal máximo diario,2023-12-28,m^3/s,941.6,Definitivo
1366,21097070,PUENTE SANTANDER AUT,CAUDAL,Caudal máximo diario,2023-12-29,m^3/s,997.4,Definitivo
1367,21097070,PUENTE SANTANDER AUT,CAUDAL,Caudal máximo diario,2023-12-30,m^3/s,991.8,Definitivo
1368,21097070,PUENTE SANTANDER AUT,CAUDAL,Caudal máximo diario,2023-12-31,m^3/s,1003.0,Preliminar
1369,21097070,PUENTE SANTANDER AUT,CAUDAL,Caudal máximo diario,2024-01-01,m^3/s,1032.0,Preliminar

In [12]:
#revisamos los valores nulos 

df.isnull().sum()

CodigoEstacion     0
NombreEstacion     0
Variable           0
Parametro          0
Fecha              0
Unidad             0
Valor              0
NivelAprobacion    0
dtype: int64

In [ ]:
#valores unicos, lo cual podemos observar qu eninguno tiene conteo "1" entonces no hay valores unicos
df["NombreEstacion"].value_counts()

NombreEstacion
PUENTE SANTANDER AUT    705
EL GUAYABO 2            665
Name: count, dtype: int64

In [13]:
#valores distintos
df["NombreEstacion"].unique()

array(['EL GUAYABO 2 [2111700151]', 'PUENTE SANTANDER AUT [21097070]'],
      dtype=object)

In [ ]:
#Cantidad de valores distintos
df["NombreEstacion"].nunique()

2

In [ ]:
#muestra los valores distintos
print(df["NombreEstacion"].unique())

['EL GUAYABO 2 [2111700151]' 'PUENTE SANTANDER AUT [21097070]']

In [15]:
try:
    df["NombreEstacion"] = df["NombreEstacion"].str.replace(r"\s*\[\d+\]", "", regex=True)
    print("Reemplazo exitoso")
except Exception as e:
    print("Error:", e)

Reemplazo exitoso

In [ ]:
#visualizando la base de datos nos damos cuenta que las filas que se repiten en la columna "NombreEstacion" son ELGUAYABO2[2111700151]
# y PUENTE SANTANDER AUT [21097070] podemos reemplazar estos valores restandoles el codigo de estacion 
df["NombreEstacion"] = df["NombreEstacion"].str.replace(r"\s*\[\d+\]", "", regex=True)

In [24]:
df.head(10)  # Muestra las primeras 10 filas

,CodigoEstacion,NombreEstacion,Variable,Parametro,Fecha,Unidad,Valor,NivelAprobacion
0,2111700151,EL GUAYABO 2,CAUDAL,Caudal máximo diario,2022-01-01,m^3/s,3.70,Preliminar
1,2111700151,EL GUAYABO 2,CAUDAL,Caudal máximo diario,2022-01-02,m^3/s,3.70,Preliminar
2,2111700151,EL GUAYABO 2,CAUDAL,Caudal máximo diario,2022-01-03,m^3/s,3.70,Preliminar
3,2111700151,EL GUAYABO 2,CAUDAL,Caudal máximo diario,2022-01-04,m^3/s,3.70,Preliminar
4,2111700151,EL GUAYABO 2,CAUDAL,Caudal máximo diario,2022-01-05,m^3/s,3.70,Preliminar
5,2111700151,EL GUAYABO 2,CAUDAL,Caudal máximo diario,2022-01-06,m^3/s,3.70,Preliminar
6,2111700151,EL GUAYABO 2,CAUDAL,Caudal máximo diario,2022-01-07,m^3/s,3.70,Preliminar
7,2111700151,EL GUAYABO 2,CAUDAL,Caudal máximo diario,2022-01-08,m^3/s,3.70,Preliminar
8,2111700151,EL GUAYABO 2,CAUDAL,Caudal máximo diario,2022-01-09,m^3/s,3.70,Preliminar
9,2111700151,EL GUAYABO 2,CAUDAL,Caudal máximo diario,2022-01-10,m^3/s,3.94,Preliminar

In [23]:
df.tail()  # Muestra las últimas 5 filas

,CodigoEstacion,NombreEstacion,Variable,Parametro,Fecha,Unidad,Valor,NivelAprobacion
1365,21097070,PUENTE SANTANDER AUT,CAUDAL,Caudal máximo diario,2023-12-28,m^3/s,941.6,Definitivo
1366,21097070,PUENTE SANTANDER AUT,CAUDAL,Caudal máximo diario,2023-12-29,m^3/s,997.4,Definitivo
1367,21097070,PUENTE SANTANDER AUT,CAUDAL,Caudal máximo diario,2023-12-30,m^3/s,991.8,Definitivo
1368,21097070,PUENTE SANTANDER AUT,CAUDAL,Caudal máximo diario,2023-12-31,m^3/s,1003.0,Preliminar
1369,21097070,PUENTE SANTANDER AUT,CAUDAL,Caudal máximo diario,2024-01-01,m^3/s,1032.0,Preliminar

In [ ]:
#podemos observar todos los valores distintos de las columnas, 
df.nunique()

CodigoEstacion       2
NombreEstacion       2
Variable             1
Parametro            1
Fecha              731
Unidad               1
Valor              338
NivelAprobacion      2
dtype: int64

In [31]:
#valores unicos por columnas
for col in df.columns:
    unicos = df[col].value_counts()[df[col].value_counts() == 1].index
    print(f"Valores únicos en {col}: {list(unicos)}")

Valores únicos en CodigoEstacion: []
Valores únicos en NombreEstacion: []
Valores únicos en Variable: []
Valores únicos en Parametro: []
Valores únicos en Fecha: [Timestamp('2022-09-29 00:00:00'), Timestamp('2022-09-30 00:00:00'), Timestamp('2022-10-01 00:00:00'), Timestamp('2022-10-02 00:00:00'), Timestamp('2022-10-03 00:00:00'), Timestamp('2022-10-04 00:00:00'), Timestamp('2022-10-05 00:00:00'), Timestamp('2022-10-06 00:00:00'), Timestamp('2022-10-07 00:00:00'), Timestamp('2022-10-08 00:00:00'), Timestamp('2022-10-09 00:00:00'), Timestamp('2022-10-10 00:00:00'), Timestamp('2022-10-30 00:00:00'), Timestamp('2022-10-31 00:00:00'), Timestamp('2022-11-01 00:00:00'), Timestamp('2022-11-02 00:00:00'), Timestamp('2023-09-03 00:00:00'), Timestamp('2023-09-04 00:00:00'), Timestamp('2023-09-05 00:00:00'), Timestamp('2023-09-06 00:00:00'), Timestamp('2023-09-07 00:00:00'), Timestamp('2023-09-08 00:00:00'), Timestamp('2023-09-09 00:00:00'), Timestamp('2023-09-10 00:00:00'), Timestamp('2023-09-11 00:00:00'), Timestamp('2023-09-14 00:00:00'), Timestamp('2023-09-15 00:00:00'), Timestamp('2023-09-16 00:00:00'), Timestamp('2023-09-17 00:00:00'), Timestamp('2023-08-25 00:00:00'), Timestamp('2023-08-26 00:00:00'), Timestamp('2023-08-27 00:00:00'), Timestamp('2023-08-28 00:00:00'), Timestamp('2023-08-29 00:00:00'), Timestamp('2023-08-30 00:00:00'), Timestamp('2023-08-31 00:00:00'), Timestamp('2023-09-01 00:00:00'), Timestamp('2023-09-02 00:00:00'), Timestamp('2022-12-30 00:00:00'), Timestamp('2022-12-31 00:00:00'), Timestamp('2023-01-01 00:00:00'), Timestamp('2023-01-02 00:00:00'), Timestamp('2022-03-21 00:00:00'), Timestamp('2022-03-22 00:00:00'), Timestamp('2022-03-23 00:00:00'), Timestamp('2022-03-24 00:00:00'), Timestamp('2022-03-25 00:00:00'), Timestamp('2022-03-26 00:00:00'), Timestamp('2022-03-27 00:00:00'), Timestamp('2022-03-28 00:00:00'), Timestamp('2022-03-29 00:00:00'), Timestamp('2022-03-30 00:00:00'), Timestamp('2022-03-31 00:00:00'), Timestamp('2022-09-01 00:00:00'), Timestamp('2022-09-02 00:00:00'), Timestamp('2022-09-03 00:00:00'), Timestamp('2022-09-04 00:00:00'), Timestamp('2022-09-05 00:00:00'), Timestamp('2022-09-06 00:00:00'), Timestamp('2022-09-07 00:00:00'), Timestamp('2022-09-08 00:00:00'), Timestamp('2022-09-09 00:00:00'), Timestamp('2022-09-10 00:00:00'), Timestamp('2022-09-11 00:00:00'), Timestamp('2022-09-12 00:00:00'), Timestamp('2022-09-13 00:00:00'), Timestamp('2022-09-14 00:00:00'), Timestamp('2022-09-15 00:00:00'), Timestamp('2022-09-16 00:00:00'), Timestamp('2022-09-17 00:00:00'), Timestamp('2022-09-18 00:00:00'), Timestamp('2022-09-19 00:00:00'), Timestamp('2022-09-20 00:00:00'), Timestamp('2022-09-21 00:00:00'), Timestamp('2022-09-22 00:00:00'), Timestamp('2022-09-23 00:00:00'), Timestamp('2022-09-24 00:00:00'), Timestamp('2022-09-25 00:00:00'), Timestamp('2022-09-26 00:00:00'), Timestamp('2022-09-27 00:00:00'), Timestamp('2022-09-28 00:00:00'), Timestamp('2022-11-03 00:00:00'), Timestamp('2022-11-04 00:00:00'), Timestamp('2022-11-05 00:00:00'), Timestamp('2022-11-06 00:00:00'), Timestamp('2022-11-07 00:00:00'), Timestamp('2022-11-08 00:00:00'), Timestamp('2022-11-09 00:00:00'), Timestamp('2022-11-10 00:00:00'), Timestamp('2022-11-11 00:00:00'), Timestamp('2022-11-12 00:00:00'), Timestamp('2022-11-13 00:00:00')]
Valores únicos en Unidad: []
Valores únicos en Valor: [10.28, 5.73999999999741, 7.81499999998317, 7.35, 346.0, 9.37999999999583, 2.99999999999954, 365.0, 8.65, 2.77499999999757, 6.74999999999792, 5.29999999999537, 3.99, 4.69999999999259, 2.81, 5.25, 4.40999999999125, 2.72999999999736, 2.24999999999792, 3.19999999999768, 3.99999999999583, 5.24, 377.8, 3.79999999999491, 4.58, 509.4, 279.2, 6.59999999999861, 2.24999999999958, 7.34999999999792, 5.1799999999987, 549.0, 201.5, 237.0, 8.875, 9.62499999999155, 29.7399999998817, 3.82, 397.5, 445.5, 215.4, 316.1, 263.0, 252.6, 227.4, 55.3, 295.8, 229.8, 781.2, 713.8, 1169.6, 1084.6, 497.7, 1157.2, 2.755, 2.38499999999938, 2.29499999999938, 2.85, 2.655, 2.71, 2.47999999999852, 2.955, 2.75, 3.36999999999736, 1090.5, 1194.6, 751.8, 3.1849999999965, 3.67, 2.79999999999954, 7.54, 6.45, 8.48, 21.6999999999435, 18.4999999999287, 20.85, 7.05, 7.38999999999495, 2.70999999999912, 4.66, 4.55, 3.15499999999581, 3.92, 4.42, 2.715, 3.44, 3.87, 767.999999999662, 577.999999999241, 490.5, 893.999999999755, 3.66999999999875, 771.4, 801.0, 402.5, 580.0, 3.61999999999407, 591.999999998356, 3.43999999999491, 2.565, 2.765, 208.4, 590.5, 868.999999999639, 829.0, 662.25, 459.75, 535.75, 716.499999998933, 674.0, 2.38499999999979, 4.13, 2.805, 2.56499999999938, 3.24999999999792, 2.56499999999979, 4.26, 2.80999999999866, 428.0, 1138.6, 650.0, 2000.2, 1132.4, 435.0, 505.5, 242.2, 253.899999999958, 592.0, 552.0, 292.9, 1066.9, 404.1, 1303.5, 619.2, 1188.3, 1055.2, 325.0, 561.0, 1102.3, 1264.5, 2.67499999999803, 1078.7, 257.8, 1207.2, 1884.1, 690.5, 521.1, 776.3, 704.4, 474.9, 181.6, 190.0, 301.6, 225.0, 7.19999999998935, 529.0, 3.79, 213.0, 3.15, 811.0, 431.5, 493.8, 537.0, 438.5, 709.1, 371.4, 641.2, 686.0, 183.7, 173.2, 331.0, 460.1, 368.2, 271.1]
Valores únicos en NivelAprobacion: []

In [37]:
unicos_por_columna = {col: (df[col].value_counts() == 1).sum() for col in df.columns}
total_unicos = sum(unicos_por_columna.values())

print("Valores únicos por columna:", unicos_por_columna)
print("Total de valores únicos en el DataFrame:", total_unicos)

Valores únicos por columna: {'CodigoEstacion': np.int64(0), 'NombreEstacion': np.int64(0), 'Variable': np.int64(0), 'Parametro': np.int64(0), 'Fecha': np.int64(92), 'Unidad': np.int64(0), 'Valor': np.int64(174), 'NivelAprobacion': np.int64(0)}
Total de valores únicos en el DataFrame: 266

In [ ]:
#existe algunos errores con la conta de los valores unicos en fechas, seguidamente pasamos a revisar valores y verificar que el tipo de dato sea el correcto
df.dtypes

CodigoEstacion              int64
NombreEstacion             object
Variable                   object
Parametro                  object
Fecha              datetime64[ns]
Unidad                     object
Valor                     float64
NivelAprobacion            object
dtype: object

In [39]:
df["Fecha"] = pd.to_datetime(df["Fecha"], errors="coerce")
print("Valores únicos en Fecha:", df["Fecha"].nunique())

Valores únicos en Fecha: 731

In [ ]:
# nos muestra un error (92) buscamos valores nulos
df["Fecha"].value_counts()[df["Fecha"].value_counts() == 1].count()

np.int64(92)